<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Tech list:</strong>
  <%= @project.tech_list %>
</p>

<p>
  <strong>Personal collaborative:</strong>
  <%= @project.personal_collaborative %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
